.react-datepicker-wrapper.react-datepicker-wrapper {
  width: 118px;

  input {
    width: 118px;
    height: 32px;
    background: #1BC5BD;
    color: white;
    border-radius: 5px;
    border: none;
    padding-left: 18px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;

    &:focus {
      outline-color: var(--mvp-outline-color);
    }

    &::placeholder {
      color: white;
    }
  }
}

.mvp-control-date__wrapper {
  height: 32px;
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}